In [1]:
import pandas as pd

file_path = r'C:\Users\杰哥\PycharmProjects\pythonProject33\pandas处理学校数据\data\data\调研学生科目得分表.xlsx'
df = pd.read_excel(file_path)
numeric_columns = [
    '总分', '语文原始成绩', '数学原始成绩', '英语原始成绩', '历史原始成绩',
    '物理原始成绩', '政治赋分成绩', '政治原始成绩', '地理赋分成绩',
    '地理原始成绩', '化学赋分成绩', '化学原始成绩', '生物赋分成绩', '生物原始成绩'
]

# Convert specified columns to numeric, coercing errors
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86895 entries, 0 to 86894
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   区县      86895 non-null  object
 1   学校      86895 non-null  object
 2   行政班     86895 non-null  object
 3   姓名      86895 non-null  object
 4   考生号     86895 non-null  int64
 5   总分      86895 non-null  float64
 6   语文原始成绩  84958 non-null  float64
 7   数学原始成绩  84827 non-null  float64
 8   英语原始成绩  82934 non-null  float64
 9   历史原始成绩  29746 non-null  float64
 10  物理原始成绩  54982 non-null  float64
 11  政治赋分成绩  35352 non-null  float64
 12  政治原始成绩  35421 non-null  float64
 13  政治等级    35352 non-null  object
 14  地理赋分成绩  38745 non-null  float64
 15  地理原始成绩  38810 non-null  float64
 16  地理等级    38745 non-null  object
 17  化学赋分成绩  52421 non-null  float64
 18  化学原始成绩  52476 non-null  float64
 19  化学等级    52421 non-null  object
 20  生物赋分成绩  42862 non-null  float64
 21  生物原始成绩  42922 non-null  float64
 22  生物等级    42862 non-null  object
 23  选科组合    0 non-null      float64
 24  类别      86895 non-null  object
 25  类别排名    86895 non-null  int64
 26  学籍号     86895 non-null  object
dtypes: float64(15), int64(2), object(10)
memory usage: 17.9+ MB

In [3]:
physics_rows = df.query("类别 == '物理类'")

In [4]:
physics_rows

,区县,学校,行政班,姓名,考生号,总分,语文原始成绩,数学原始成绩,英语原始成绩,历史原始成绩,...,化学赋分成绩,化学原始成绩,化学等级,生物赋分成绩,生物原始成绩,生物等级,选科组合,类别,类别排名,学籍号
0,大邑县,安仁中学,22级1班,孟赟,250129020596,631.5,107.0,128.0,126.5,NaN,...,93.0,89.0,A,91.0,87.0,A,NaN,物理类,2512,510129200708240056
1,大邑县,安仁中学,22级1班,刘馨烨,250129020530,602.0,119.0,119.0,121.0,NaN,...,82.0,73.0,B,90.0,85.0,A,NaN,物理类,5972,510129200709270062
2,大邑县,安仁中学,22级1班,林佳政,250129020529,600.5,115.0,119.0,110.5,NaN,...,90.0,84.0,A,91.0,87.0,A,NaN,物理类,6202,510129200608080016
3,大邑县,安仁中学,22级3班,周发明,250129020640,599.0,105.0,107.0,133.0,NaN,...,84.0,76.0,B,91.0,87.0,A,NaN,物理类,6413,511322200607067116
4,大邑县,安仁中学,22级1班,胡欣宇,250129020311,584.5,113.0,110.0,120.5,NaN,...,84.0,75.0,B,88.0,83.0,A,NaN,物理类,8720,510129200611290022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86877,新都区,成都市新都一中北星中学校,22级3班,杨坤,250114510135,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,物理类,55101,511321200705021350
86879,新都区,成都市新都一中北星中学校,22级3班,蒋欣怡,250114510136,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,物理类,55101,512021200710288441
86882,新都区,成都市新都一中北星中学校,22级7班,杨美林,250114510297,498.0,105.0,64.0,132.0,NaN,...,66.0,50.0,C,88.0,83.0,A,NaN,物理类,25689,510114200707020161
86890,新都区,成都市新都一中北星中学校,22级7班,杨越,250114510373,441.0,83.0,91.0,119.0,NaN,...,65.0,48.0,C,57.0,50.0,C,NaN,物理类,37546,510321200708075804
86893,新都区,成都市新都一中北星中学校,22级4班,高玉妍,250114510163,400.5,99.0,71.0,76.5,NaN,...,57.0,36.0,C,NaN,NaN,NaN,NaN,物理类,44420,511025200609303306

In [5]:
history_rows = df.query("类别 == '历史类'")

In [6]:
history_rows

,区县,学校,行政班,姓名,考生号,总分,语文原始成绩,数学原始成绩,英语原始成绩,历史原始成绩,...,化学赋分成绩,化学原始成绩,化学等级,生物赋分成绩,生物原始成绩,生物等级,选科组合,类别,类别排名,学籍号
19,大邑县,安仁中学,22级6班,杨佳慧,250129020025,558.5,93.0,113.0,114.5,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,历史类,3033,510129200702280081
25,大邑县,安仁中学,22级6班,张锐,250129020752,550.5,116.0,96.0,128.5,71.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,历史类,3582,530628200708273143
35,大邑县,安仁中学,22级6班,孙睿丰,250129020380,545.0,97.0,82.0,120.0,79.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,历史类,3994,510184200610200077
37,大邑县,安仁中学,22级6班,王思杰,250129020174,543.5,101.0,121.0,101.5,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,历史类,4089,510129200701200035
54,大邑县,安仁中学,22级6班,谈耀辉,250129020666,529.5,99.0,111.0,98.5,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,历史类,5250,510129200703300072
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86888,新都区,成都市新都一中北星中学校,22级2班,王佳欣,250114510025,455.0,102.0,58.0,89.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,历史类,12930,512002200705215345
86889,新都区,成都市新都一中北星中学校,22级1班,黄楠,250114510021,450.5,112.0,59.0,88.5,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,历史类,13452,50023620061114468X
86891,新都区,成都市新都一中北星中学校,22级2班,母思琦,250114510024,435.0,94.0,73.0,99.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,历史类,15290,510114200612090028
86892,新都区,成都市新都一中北星中学校,22级1班,隆轩,250114510038,424.0,96.0,82.0,45.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,历史类,16588,511025200703163645
86894,新都区,成都市新都一中北星中学校,22级1班,陈韬睿,250114510032,392.0,91.0,58.0,57.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,历史类,20162,511323200702100013

In [21]:
school_physics_rows_group = physics_rows.groupby(['区县','学校']).size()

In [22]:
county_physics_rows_group = physics_rows.groupby(['区县']).size()

In [23]:
school_physics_rows_group

区县    学校
东部新区  三岔中学      726
      养马中学      197
      贾家中学      449
双流区   双流中学      816
      双流艺体      115
               ...
龙泉驿区  经开区实验     404
      航天中学      698
      龙泉中学      676
      龙泉二中      160
      龙泉师大一中    183
Length: 155, dtype: int64

In [24]:
county_physics_rows_group

区县
东部新区     1372
双流区      3153
大邑县      1425
天府新区     1420
崇州市      1640
市直属直管    5227
彭州市      1730
成华区      2520
新津区      1245
新都区      3586
武侯区      2455
温江区      2520
简阳市      3831
蒲江县       567
邛崃市      1945
郫都区      2822
都江堰市     2346
金堂县      2868
金牛区      2976
锦江区      2222
青白江区     1172
青羊区      1489
高新区      2771
龙泉驿区     2830
dtype: int64